@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
	.nav-item::after {
		@apply content-[''] bg-gradient-to-r from-cyan-400 h-[2px] w-[0%] left-[3px] -bottom-[5px] absolute duration-300 mr-0.5
	}

	.nav-item:hover::after {
		@apply w-[120%]
	}
}